<mat-dialog-content class="mat-typography">
  <div class=" modal-fixed-footer" id="join">
    <div class="modal-content">
      <h2>Объединение карт</h2>
      <hr>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <table>
              <thead>
              <tr>
                <th>Объединить</th>
                <th>Пациент</th>
                <th>Уникальный</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input type="checkbox"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
                <td>12128240, ПЕТРОВ ПЕТР (999-999-999-01), 61 год</td>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input checked class="with-gap" name="group1" type="radio"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input type="checkbox"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
                <td>12127898, ТЕСТОДИН ТЕСТОДИН ТЕСТОДИН (999-999-999-01), 1 год</td>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input class="with-gap" name="group1" type="radio"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input type="checkbox"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
                <td>12127899, ТЕСТДВА ТЕСТОДИН ТЕСТОДИН (999-999-999-01), 3 год</td>
                <td>
                  <form action="#">
                    <p>
                      <label>
                        <input class="with-gap" name="group1" type="radio"/>
                        <span></span>
                      </label>
                    </p>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat green text-primary">Отмена</a>
    <a class="modal-close waves-effect waves-green btn-flat green text-primary">Объединить</a>
  </div>
</mat-dialog-actions>
