<!-- user_bar -->
<ul id='user' class='dropdown-content'>
    <li><a href="#!"><i class="material-icons">info</i>Пользователь</a></li>
    <li><a href="#!"><i class="material-icons">email</i>Уведомления</a></li>
    <li><a href="#!"><i class="material-icons">email</i>Архив</a></li>
    <li><a href="#!"><i class="material-icons">exit_to_app</i>Выйти</a></li>
</ul>
<ul id='user-mobile' class='dropdown-content'>
    <li><a href="#!">Пользователь</a></li>
    <li><a href="#!">Уведомления</a></li>
    <li><a href="#!">Архив</a></li>
    <li><a href="#!">Выйти</a></li>
</ul>

<!-- vvod_bar -->
<ul id='vvod' class='dropdown-content'>
    <li><a href="#!">Должностные лица и контактная информация</a></li>
    <li><a href="#!">Доступные профили ВМП</a></li>
    <li><a href="#!">Доступные виды ВМП</a></li>
    <li><a href="#!">Талоны за прошлый год</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Клиническая апробация</a></li>
    <li><a href="#!">Статус отчетов по клинической апробации</a></li>
    <li><a href="#!">Информация о выполнении ГЗ в рамках КА</a></li>
</ul>
<ul id='vvod-mobile' class='dropdown-content'>
    <li><a href="#!">ДЛ и контактная информация</a></li>
    <li><a href="#!">Доступные профили ВМП</a></li>
    <li><a href="#!">Доступные виды ВМП</a></li>
    <li><a href="#!">Талоны за прошлый год</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Клиническая апробация</a></li>
    <li><a href="#!">Статус отчетов по КА</a></li>
    <li><a href="#!">Инфо о выполнении ГЗ КА</a></li>
</ul>

<!-- lech_bar -->
<ul id='lech' class='dropdown-content'>
    <li><a>Карта пациента</a></li>
    <li><a href="#!">Талон на ВМП</a></li>
    <li><a href="#!">Поиск пациента</a></li>
    <li><a href="#!">Поиск талона</a></li>
    <li><a href="#!">Направлен в МО для оказания ВМП</a></li>
    <li><a href="#!">Исправления в талонах</a></li>
    <li><a href="#!">Импорт данных</a></li>
</ul>
<ul id='lech-mobile' class='dropdown-content'>
    <li><a href="card_vmp.html">Карта пациента</a></li>
    <li><a href="#!">Талон на ВМП</a></li>
    <li><a href="#!">Поиск пациента</a></li>
    <li><a href="#!">Поиск талона</a></li>
    <li><a href="#!">Направлен в МО</a></li>
    <li><a href="#!">Исправления в талонах</a></li>
    <li><a href="#!">Импорт данных</a></li>
</ul>

<nav class="green" style="margin-bottom: 12px">
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="" class="tooltipped brand-logo right" data-tooltip="Система мониторинга оказания высокотехнологичной медицинской помощи"><img style="height: 63px" src="assets/logo.png"></a>
        <ul class="left hide-on-med-and-down">
            <li style="width: 210px"><a class="dropdown-trigger"  data-target="user"  [routerLink]="['/patient-card','12127883']"><i class="material-icons left">account_box</i>Центр Т.П. <i class="material-icons right">arrow_drop_down</i></a></li>
            <li style="width: 210px"><a class="dropdown-trigger"  data-target="vvod" [routerLink]="['/patient-card']">Ввод данных <i class="material-icons right">arrow_drop_down</i></a></li>
            <li style="width: 210px"><a class="dropdown-trigger"  data-target="lech">Пациенты <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="">Отчётность</a></li>
            <li><a href=""><i class="material-icons tooltipped" data-tooltip="Администрирование">settings</i></a></li>
            <li><a href="https://portal.egisz.rosminzdrav.ru/forum/" class="tooltipped" data-tooltip="Форум" target="_blank"><i class="material-icons small">forum</i></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a class="dropdown-trigger" data-target="user-mobile">Центр Т.П. <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-trigger" data-target="vvod-mobile">Ввод данных <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-trigger"  data-target="lech-mobile">Пациенты <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="">Отчётность</a></li>
    <li><a href="">Администрирование</a></li>
    <li><a href="https://portal.egisz.rosminzdrav.ru/forum/" target="_blank">Форум</a></li>
</ul>


  <router-outlet></router-outlet>


<div class="ias_footer">
  <div>
    <div>
      <div style="padding:5px; text-align: right;">
            <span class="white-text fs1">
              Служба поддержки: 8-800-500-74-78 (по России)<br>
              Обращение в тех. поддержку:
              <a href="mailto:egisz@rt-eu.ru">
              egisz@rt-eu.ru
              </a>  |
              <a href="https://support.egisz.rosminzdrav.ru" target="_blank">
                ЕГИСЗ.РФ
              </a>
              <br> © 2016-2018 Министерство здравоохранения Российской Федерации
            </span>
      </div>
    </div>
  </div>
</div>
