@import "theme";

body {
  min-height: 100vh;
  flex-direction: column;
  background-color: beige
}

a {
  cursor: pointer;
}

input {
  height: 2rem !important;
}

.mat-select {
  height: 2rem !important;
}

.content {
  min-height: calc(100vh - 176px);
  margin-left: auto;
  margin-right: auto;
}

.vmp_content {
  background-color: white;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  vertical-align: middle;
}

.mat-form-field {
  width: 100% !important;
}

.mat-form-field .mat-form-field-label {
  left: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 1.2rem !important;
}

.mat-form-field .mat-select {
  width: 100% !important;
}

.mat-form-field .mat-input-element {
  border: none !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

@import "~@ng-select/ng-select/themes/material.theme.css";
.mat-dialog-content {
  max-height: initial !important;
}


@media only screen and (min-width: 993px) {
  .row .col.push-card {
    left: 12.5%;
  }
}

/*Переопределяем стандартную css*/
.blue-grey.darken-1 {
  background-color: #62899c !important;
}

.green {
  background-color: #1b9881 !important;
}

.green-text {
  color: #1b9881 !important;
}

a {
  color: #1b9881;
}

i.tiny {
  font-size: 1.1rem;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l0 {
    width: 5%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.card .card-title {
  color: black;
  font-size: 17px;
  font-weight: 400;
}

select:focus {
  outline: 1px solid #1b9881;
}

.input-field > label {
  color: gray;
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-16px) scale(0.9);
  transform: translateY(-16px) scale(0.9);
}

.select-wrapper input.select-dropdown {
  margin: 0;
}

.select-wrapper + label {
  top: -30px;
  font-size: 0.9rem;
}

.datepicker-date-display {
  background-color: #1b9881;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #1b9881;
}

nav .brand-logo {
  font-size: 1.3rem;
}

/*Переопределяем стандартную css*/

body {
  min-height: 100vh;
  flex-direction: column;
  background-color: beige
}

.content {
  min-height: calc(100vh - 161px);
  margin-left: auto;
  margin-right: auto;
}

.vmp_content {
  background-color: white;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.fs1 {
  font-size: 12px;
  width: 390px !important;
}

.middle {
  vertical-align: middle;
}

.ias_footer {
  background-color: #3B3D3F;
  height: 65px;
  line-height: 1.15;
}

.card_label_text {
  color: black;
  font-size: 14px;
}

@media only screen and (min-width: 993px) {
  .row .col.push-card {
    left: 12.5%;
  }
}

.logo-egisz {
  height: 50px;
  padding-top: 10px;
  padding-left: 5px;
}

.return-menu {
  width: 16%;
  margin-top: -6px;
  margin-right: 5px;
}

.row .col.push-s0 {
  left: 4.1666666666%;
}

.double-width {
  width: 370px !important;
}

@media only screen and (max-width: 993px) {
  .container {
    width: 100%;
  }
  .mobile_margin {
    margin-bottom: 0;
  }

  .btn-small {
    width: 100%;
    margin-bottom: 5px;
  }
}


.btn-small {
  margin: 4px !important;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

.mat-button {
  height: 32.4px !important;
  line-height: 32.4px !important;
  font-size: 13px;
  border-radius: 0 !important;
}

.green {
  background-color: #1b9881 !important;
  color: white;
}

.green-text {
  color: #1b9881 !important;
}

a {
  color: #1b9881;
}

i.tiny {
  font-size: 1.1rem;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l0 {
    width: 5%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.card .card-title {
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.tabs .tab a {
  color: #1b9881;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: mediumaquamarine;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: darkgreen;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: #1b9881;
}

.tabs .indicator {
  background-color: #1b9881;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #1b9881;
}

select:focus {
  outline: 1px solid #1b9881;
}

.input-field > label {
  color: gray;
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-16px) scale(0.9);
  transform: translateY(-16px) scale(0.9);
}

.select-wrapper + label {
  top: -30px;
  font-size: 0.9rem;
}

.datepicker-date-display {
  background-color: #1b9881;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #1b9881;
}

nav .brand-logo {
  font-size: 1.3rem;
}

/*Переопределяем стандартную css*/
.middle {
  vertical-align: middle;
}

.ias_footer {
  background-color: #3B3D3F;
  height: 80px;
}

.card_label_text {
  color: black;
  font-size: 14px;
}


@media only screen and (min-width: 993px) {
  .row .col.push-card {
    left: 12.5%;
  }
}

.logo-egisz {
  height: 50px;
  padding-top: 10px;
  padding-left: 5px;
}

.return-menu {
  width: 16%;
  margin-top: -6px;
  margin-right: 5px;
}

.row .col.push-s0 {
  left: 4.1666666666%;
}

.double-width {
  width: 400px !important;
}

.md-drppicker.shown.drops-down-right {
  display: inline-flex;
}

.mydrp, .mydrp .headerclearbtn, .mydrp .headerokbtn {
  border: none !important;
  margin-top: 24px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #757575;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757575;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #757575;
}

.example-tooltip {
  padding: 10px 8px;
  font-size: 0.8rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  max-width: calc(100% - 4px);
  background-color: #323232;
}


.mat-form-field .mat-select {
  padding-top: 5px;
}

.mydrp .selection {
  pointer-events: none;
}
